<h1>Hello Blog</h1>

<% @blog_posts.each do |blog_post|%>
  <div>
    <!--<h3><%= link_to blog_post.title, blog_post_path(blog_post.id) %></h3>-->
    <h3><%= link_to blog_post.title, blog_post %></h3>
    <p><%= blog_post.body %></p>
    <p>---------------------------</p>
  </div>
<%end%>
